// COLORS
$main-blue: rgb(62, 74, 89);
$main-blue-shadow: rgb(59, 72, 87);
$secondary-blue: #426999;
$yellow: #F2AB27;
$orange: #D97D0D;
$orange-shadow: rgb(187, 109, 14);
$auburn: rgb(115, 32, 2);
$auburn-shadow: rgb(94, 28, 4);
$bright-orange: #D94D1A
