@import '../globalVariables.scss';

.auth-container {
    background-color: white;
    display: flex;
    flex-direction: column;
    height: 90vh;

    .header-text{
        margin: 7vh;
        font-size: 2em;
    }
    .auth-form-container{
        height:100%;
    }
    .auth-text{
        width: 90vw;
        margin: auto;
        text-align: left;
        color: grey;
    };
    .auth-form{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        height: 100%;
        
        .auth-input{
            
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            width: 90vw;
            font-size: 1.2em;
            
            input{
                font-size: 1.05em;
                width: 100%;
                min-height: 35px;
                border: 1px solid grey;
                border-radius: 2px;
                padding-left: 10px;
                box-sizing: border-box;
                
            }
            label{
                font-size: 1.2em;
                margin-bottom: 4px;
            }
            
            
        }

    }
}