@import '../globalVariables.scss';

.item-card {
  height: 80px;
  width: 90vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 2px solid $gray;

  .img-holder {
    height: 60px;
    width: 60px;
    background-color: $gray
  }

  .item-details {
    width: 70%;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    h1 {
      margin: 0;
      margin-top: 20px;
      font-size: 18px
    }

    .qty-row {
      width: 50%;
      display: flex;
      align-items: center;
      
      h4 {
        margin: 20px
      }
    }
  }
}