@import '../globalVariables.scss';

.lists-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: $secondary-blue;
  height: 100vh;

  h1 {
    color: $orange
  }
}