@import '../globalVariables.scss';

.search-bar {
  display: inline-flex;
  flex: 1 1 300px;
  position: relative;
  border: 1px solid #ccc;
  border-radius: 5px;
  overflow: hidden;
  width: 300px;

  .search-input {
    border: 0;
    padding: 0.5rem 0.5rem 0.5rem 0;
    flex: 1;
  }

  i {
    padding: 0.5rem;
  }
}